In [40]:
import numpy as np
import pandas as pd

In [41]:
Df= pd.read_csv('fuel_ferc1-INTERNSHIP.csv')

In [79]:
"""Question 1
If youâ€™re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B =  [1,2,3,4,5,6,13, 21, 34]

Which of the following option is the best way to create this list?"""


A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [80]:
A.append(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34]]

In [81]:
"""Question 2
How do you create an identity matrix in python?"""
np.array([[1,0,0],[0,1,0],[0,0,1]])# this is the right formate not what was typed

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [82]:
np.eye(3)# not eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [83]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [45]:
"""Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?"""
Df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

In [47]:
"""Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?"""
Df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [49]:
"""Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
"""
Df['fuel_qty_burned'].skew().round(2)

15.85

In [50]:
Df['fuel_qty_burned'].kurt().round(2)

651.37

In [51]:
"""Question 6
Which feature has missing values and what is the total number of missing value? 
"""
Df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [52]:
""" and percentage of the missing rows as a factor of the total number of rows in three decimal places"""
(Df.isnull().sum()/len(Df)*100)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [62]:
"""Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?"""
Df.info()# from here you can see that fuel_unit is any object which means it is a categorical feature

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [63]:
"""
Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?"""
Df.corr()# note that 1 means that the features are highly correlated and _ve means not correlated

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [74]:
"""
Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
"""
coal_cost_1998 = Df.fuel_cost_per_unit_burned[(Df.fuel_type_code_pudl == 'coal') & 
                                                     (Df.report_year == 1998)].sum()

coal_cost_1994 = Df.fuel_cost_per_unit_burned[(Df.fuel_type_code_pudl == 'coal') & 
                                                     (Df.report_year == 1994)].sum()

print(round(100 * (coal_cost_1998 - coal_cost_1994)/coal_cost_1994))

-21.0

In [78]:
"""Question 10
Which year has the highest average fuel cost per unit delivered?"""
year=Df.groupby('report_year').fuel_cost_per_unit_delivered.mean().idxmax()
year

1997